<template>
  <div id="app">
    <template v-if="!$auth.check()">
      <nprogress-container></nprogress-container>
      <signIn></signIn>
    </template>
    <template v-else>
      <nprogress-container></nprogress-container>
      <navbar :show="true"></navbar>
      <sidebar :show="sidebar.opened && !sidebar.hidden"></sidebar>
      <app-main></app-main>
      <!-- <footer-bar></footer-bar> -->
    </template>
  </div>
</template>

<script>
import Login from 'views/Login.vue'
import { mapGetters, mapActions } from 'vuex'
import NprogressContainer from 'vue-nprogress/src/NprogressContainer'
import { Navbar, Sidebar, AppMain, FooterBar } from 'components/layout/'

export default {
  components: {
    signIn: Login,
    Navbar,
    Sidebar,
    AppMain,
    FooterBar,
    NprogressContainer
  },

  beforeMount () {
    const { body } = document
    const WIDTH = 768
    const RATIO = 3

    const handler = () => {
      if (!document.hidden) {
        let rect = body.getBoundingClientRect()
        let isMobile = rect.width - RATIO < WIDTH
        console.log('isMobile', isMobile)
        this.toggleDevice(isMobile ? 'mobile' : 'other')
        this.toggleSidebar({
          opened: !isMobile
        })
      }
    }

    document.addEventListener('visibilitychange', handler)
    window.addEventListener('DOMContentLoaded', handler)
    window.addEventListener('resize', handler)
  },

  computed: mapGetters({
    sidebar: 'sidebar'
  }),

  created () {
    this.axios.interceptors.response.use(() => {}, err => {
      if (err.response.status === 401) {
        this.$auth.logout()
        this.$store.commit('logout')
      }
      return Promise.reject(err)
    })
  },

  methods: mapActions([
    'toggleDevice',
    'toggleSidebar'
  ])
}
</script>

<style lang="scss">

html {
  background-color: whitesmoke;
}

.nprogress-container {
  position: fixed !important;
  width: 100%;
  height: 50px;
  z-index: 2048;
  pointer-events: none;

  #nprogress {
    $color: #48e79a;

    .bar {
      background: $color;
    }
    .peg {
      box-shadow: 0 0 10px $color, 0 0 5px $color;
    }

    .spinner-icon {
      border-top-color: $color;
      border-left-color: $color;
    }
  }
}
</style>
