<template>
  <div class="modal-card container">
    <header class="modal-card-head">
      <p class="modal-card-title">Delete User</p>
    </header>
    <section class="modal-card-body">
      <p>Are you sure want to delete username <strong>{{ user.username }}</strong> ?</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button" type="button" @click="close()">Cancel</button>
      <button class="button is-danger" v-bind:class="{ 'is-loading': loading }" @click="del()">Delete</button>
    </footer>
  </div>
</template>

<script>
export default {
  props: ['user'],
  data () {
    return {
      loading: false
    }
  },
  methods: {
    close () {
      this.$parent.close()
    },
    del () {
      this.loading = true
      console.log("this.loading  ", this.loading )
      setTimeout(() => {
        this.$events.fire('delete-confirm', this.user.id)
        this.$parent.close()        
      }, 2000)
    }
  }
}
</script>

<style scoped>
.modal-card {
  width: auto;
}
</style>
