@import '~animate.css';
.animated {
  animation-duration: .377s;
}

@import '~bulma';

@import '~wysiwyg.css/wysiwyg.sass';

$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

$mdi-font-path: '~mdi/fonts/';
@import "~mdi/scss/materialdesignicons.scss";
