<template>
  <div class="tile is-ancestor">

    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="hero is-child box is-primary is-bold">
        </div>

        <form v-on:submit.prevent="submit">
          <div class="container is-fluid is-12 block">

            <p class="field">
              <p class="control label"><span class="icon"><i class="mdi mdi-format-font"></i></span> Nama Kriteria</p>
              <div class="control has-icon has-icon-right">
                <input class="input" type="text" placeholder="..." v-model.lazy.trim="name.input.value" v-bind:class="name.input.className">
                <span class="icon is-small is-right" v-if="name.validate.show">
                  <i class="fa" v-bind:class="name.validate.className"></i>
                </span>
                <span class="help" v-bind:class="name.message.className" v-if="name.message.show">{{ name.message.value }}</span>
              </div>
            </p>

            <p class="field">
              <p class="control label"><span class="icon"><i class="mdi mdi-numeric"></i></span> Bobot</p>
              <div class="control has-icon has-icon-right">
                <input class="input" type="text" placeholder="..." v-model.lazy.trim="bobot.input.value" v-bind:class="bobot.input.className">
                <span class="icon is-small is-right" v-if="bobot.validate.show">
                  <i class="fa" v-bind:class="bobot.validate.className"></i>
                </span>
                <span class="help" v-bind:class="bobot.message.className" v-if="bobot.message.show">{{ bobot.message.value }}</span>
              </div>
            </p>
            
            <div class="control">
              <button class="button is-primary" type="submit" v-bind:class="{'is-loading': submiting}">Update</button>
              <button class="button is-link" type="reset" @click="resetValidation">Reset</button>
            </div>
          </div>
        </form>
      </article>
    </div>
    
  </div>
</template>

<script>

import { KRITERIA_URL } from 'config/api'

export default {
  props: {kriteriaId: { type: Number, required: true }},
  data () {
    return {
      name: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      bobot: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      classNameSucces: 'is-success',
      classNameInvalid: 'is-danger',
      classNameIconSuccess: 'fa-check',
      classNameIconInvalid: 'fa-warning',
      classNameRoot: 'has-icons-right',
      submiting: false
    }
  },
  created () {
    if (typeof (this.kriteriaId) === 'undefined') this.$router.push({ name: 'Kriteria' })
    this.axios.get(`${KRITERIA_URL}/${this.kriteriaId}`)
    .then(res => {
      this.name.input.value = res.data.name
      this.bobot.input.value = res.data.bobot
    })
    .catch(() => {
      this.$router.push({ path: '/kriteria' })
    })
  },
  methods: {
    submit () {
      this.submiting = true
      this.resetValidation()
      this.axios.put(`${KRITERIA_URL}/${this.kriteriaId}`,
        {
          name: this.name.input.value,
          bobot: this.bobot.input.value
        }
      )
      .then(res => {
        this.submiting = false
        this.$events.fire('edit-success', this.name.input.value)
        this.$router.push({ path: '/kriteria' })
      })
      .catch(err => {
        this.submiting = false
        console.log('err-edit-patch', err)
        const errors = err.response.data

        if (errors.name) {
          this.debug = errors.name
          this.name.input.className = this.classNameInvalid
          this.name.validate.show = true
          this.name.validate.className = this.classNameIconInvalid
          this.name.message.show = true
          this.name.message.className = this.classNameInvalid
          const self = this

          errors.name.map((value, index) => {
            self.name.message.value = value
          })
        } else {
          this.name.input.className = this.classNameSucces
          this.name.validate.show = true
          this.name.validate.className = this.classNameIconSuccess
        }

        if (errors.bobot) {
          this.debug = errors.bobot
          this.bobot.input.className = this.classNameInvalid
          this.bobot.validate.show = true
          this.bobot.validate.className = this.classNameIconInvalid
          this.bobot.message.show = true
          this.bobot.message.className = this.classNameInvalid
          const self = this

          errors.bobot.map((value, index) => {
            self.bobot.message.value = value
          })
        } else {
          this.bobot.input.className = this.classNameSucces
          this.bobot.validate.show = true
          this.bobot.validate.className = this.classNameIconSuccess
        }
      })
    },
    resetValidation () {
      this.name.input.className = ''
      this.name.validate.className = false
      this.name.message.show = false
      this.bobot.input.className = ''
      this.bobot.validate.className = false
      this.bobot.message.show = false
    }
  }
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
.select.is-danger>select{
  border-color: #ff3860;
}
.select.is-success>select{
  border-color: #23d160;
}
</style>
