<template>
  <div class="tile is-child box">
    
    <div class="hero is-child box is-primary is-bold">
      <div class="field-label is-normal container has-text-centered">
        <label class="title has-text-white">LIST <strong>Kriteria</strong></label>
      </div>
      <div class="control">
        <router-link :to="{ path: '/kriteria/add' }" class="button is-success is-inverted">
          <span class="icon"><i class="mdi mdi-plus-circle"></i></span>
          <span>Add Kriteria</span>
        </router-link>
      </div>
    </div>


    <div class="table-responsive">
      <div class="container">
        <nav class="level is-marginless">
          <div class="level-left">
            <div class="level-item">
              <filter-bar
                :placeholder-set="'Search Kriteria'"
                @filter-set="eventActions('filter-set', ...arguments)"
                @filter-reset="eventActions('filter-reset')"></filter-bar>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <div class="field">
                <div class="control">
                  <div class="select">
                    <select v-model="perPage">
                      <option disabled value="">Select Per Page</option>
                      <option>10</option>
                      <option>20</option>
                      <option>50</option>
                      <option>100</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="level-right">
            <vuetable-pagination-info ref="paginationInfo"
            ></vuetable-pagination-info>
          </div>
        </nav>

        <div class="responsive-vuetable">
          <vuetable ref="vuetable"
            :api-url="kriteriaUrl"
            :fields="fields"
            :css="css"
            :per-page="parseInt(perPage)"
            :sort-order="sortOrder"
            :append-params="moreParams"
            pagination-path=""
            @vuetable:cell-clicked="onCellClicked"
            @vuetable:pagination-data="onPaginationData"
          ></vuetable>
          <bulma-pagination ref="pagination"
            @vuetable-pagination:change-page="onChangePage"
          ></bulma-pagination>
          
          <modal-delete :visible="showModal" @close="modalActions('close-delete')">
            <div class="container">
              <article class="media">
                <div class="modal-card container">
                  <header class="modal-card-head">
                    <p class="modal-card-title">Hapus Kriteria Dari Table</p>
                  </header>
                  <section class="modal-card-body">
                    <p>Apakah yakin ingin menghapus kriteria ini?</p>
                  </section>
                  <footer class="modal-card-foot">
                    <button class="button" type="button" @click="modalActions('close-delete')" autofocus>Cancel</button>
                    <button class="button is-danger" v-bind:class="{'is-loading': loading}" @click="modalActions('yes-delete')">Yes</button>
                  </footer>
                </div>
              </article>
            </div>
          </modal-delete>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
import * as Data from './data/kriteria'
import { Modal } from 'vue-bulma-modal'
import * as Methods from './methods/kriteria'
import Table from '../../components/table/Table.vue'
import FilterBar from 'components/common/FilterBar'
import BulmaPagination from 'components/common/BulmaPagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'

export default {
  components: {
    FilterBar,
    BulmaPagination,
    'vuetable': Table,
    'modal-delete': Modal,
    VuetablePaginationInfo
  },
  data () {
    return {
      ...Data
    }
  },
  methods: {
    ...Methods
  },
  beforeMount () {
    this.$events.listen('edit', kriteria => { this.eventActions('edit', kriteria) })
    this.$events.listen('modal-show', kriteria => { this.modalActions('modal-show', kriteria) })
    this.$events.listen('add-success', kriteria => { this.eventActions('add-success', kriteria) })
    this.$events.listen('edit-success', kriteria => { this.eventActions('edit-success', kriteria) })
  },
  beforeDestroy () {
    this.showModal = false
    this.$events.remove('edit')
    this.$events.remove('modal-show')
  },
  created () {
    this.$events.off('add-success')
    this.$events.off('edit-success')
  },
  watch: {
    perPage (val, oldVal) {
      this.$nextTick(() => this.$refs.vuetable.refresh())
    }
  }
}
</script>

<style lang='scss' scoped>
.styles-box .notification {
  margin-bottom: 20px;
}
.control.is-grouped {
  display: flow-root
}
</style>
