<template>
  <div class="tile is-ancestor">

    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="hero is-child box is-primary is-bold"></div>
        <article class="is-child box">
          <p class="control label"><span class="icon"><i class="mdi mdi-calendar-range"></i></span> Tanggal Penilaian</p>
          <datepicker :inputClass="{ test: true }" :config="{ wrap: true }" v-model="dataSubmit.tanggalPenilaian" readonly>
            <a class="button" data-clear><i class="fa fa-close"></i></a>
          </datepicker>
        </article>

        <form v-on:submit.prevent="submit">
          <table class="table is-bordered">
            <!-- 1nd row -->
            <tr>
              <td :rowspan="dataSubmit.pegawai.length + 2" class="vertical-text" align="center" valign="middle" style="vertical-align: middle;">TOPSIS &#x26; Promethee</td>
              <td rowspan="2">No.</td>
              <td rowspan="2">Pegawai</td>
              <td :colspan="kriteria.length">Kriteria</td>
            </tr>

            <!-- 2nd row -->
            <tr>
              <template v-for="(item, index) in kriteria">
                <td>{{ item.name }}</td>
              </template>
            </tr>

            <!-- 3nd sampai length pegawai row -->
            <template v-for="(item, index) in dataSubmit.pegawai">
            <tr>
              <td width="1%">{{ index + 1 }}</td>
              <td width="25%">{{ item.name }}</td>
              <template v-for="(kitem, i) in k">
              <td>
                <p class="field">
                  <input class="input" type="number" placeholder="..." v-model="item[i]">
                </p>
              </td>
              </template>
            </tr>
            </template>

            <!--  -->
            <tr>
              <td rowspan="5" class="vertical-text" align="center" valign="middle" style="vertical-align: middle;">Promethee</td>
              <td colspan="2">Min/Max</td>
              <template v-for="(item, index) in tempSubKriteria">
              <td>
                <p class="field">
                  <span class="select">
                    <select v-model="item.minMax">
                      <option v-for="option in options2" v-bind:value="option.value">
                        {{ option.text }}
                      </option>
                    </select>
                  </span>
                </p>
              </td>
              </template>
            </tr>

            <!--  -->
            <tr>
              <td colspan="2">Tipe Preferensi</td>
              <template v-for="(item, index) in tempSubKriteria">
              <td>
                <p class="field">
                  <span class="select">
                    <select v-model="item.tipePreferensi">
                      <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                      </option>
                    </select>
                  </span>
                </p>
              </td>
              </template>
            </tr>

            <!--  -->
            <tr>
              <td rowspan="3">Parameter</td>
              <td>p</td>
              <template v-for="(item, index) in tempSubKriteria">
              <td>
                <p class="field">
                  <input class="input" type="number" placeholder="..." v-model="item.p">
                </p>
              </td>
              </template>
            </tr>

            <!--  -->
            <tr>
              <td>q</td>
              <template v-for="(item, index) in tempSubKriteria">
              <td>
                <p class="field">
                  <input class="input" type="number" placeholder="..." v-model="item.q">
                </p>
              </td>
              </template>
            </tr>

            <!--  -->
            <tr>
              <td>s</td>
              <template v-for="(item, index) in tempSubKriteria">
              <td>
                <p class="field">
                  <input class="input" type="number" placeholder="..." v-model="item.s">
                </p>
              </td>
              </template>
            </tr>
          </table>

          <button class="button is-primary" type="submit">Submit</button>
        </form>

        
      </article>
      
    </div>
    
  </div>
</template>

<script>
import Vue from 'vue'
import VueEvents from 'vue-events'
import Datepicker from 'vue-bulma-datepicker'
import Notification from 'vue-bulma-notification'
import { KRITERIA_URL, PEGAWAI_URL, HASIL_PENILAIAN_URL } from 'config/api'

Vue.use(VueEvents)

const NotificationComponent = Vue.extend(Notification)

const openNotification = (propsData = {
  title: '',
  message: '',
  type: '',
  direction: '',
  duration: 4500,
  container: '.notifications'
}) => {
  return new NotificationComponent({
    el: document.createElement('div'),
    propsData
  })
}

export default {
  components: {
    Datepicker,
    Notification
  },
  data () {
    return {
      kriteria: [],
      pegawai: [],
      tanggalPenilaian: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      dataSubmit: {
        kriteria: [],
        pegawai: [],
        tanggalPenilaian: null
      },
      k: {},
      temp: [],
      tempSubKriteria: {},
      options: [
        { text: 'I', value: '1' },
        { text: 'II', value: '2' },
        { text: 'III', value: '3' },
        { text: 'IV', value: '4' },
        { text: 'V', value: '5' },
        { text: 'VI', value: '6' }
      ],
      options2: [
        { text: 'Min', value: 'min' },
        { text: 'Max', value: 'max' }
      ]
    }
  },
  computed: {
    lengthKriteria () {
      return this.kriteria.length
    }
  },
  created () {
    this.$events.off('add-success')
    this.$events.off('edit-success')

    this.axios.get(`${KRITERIA_URL}`)
    .then(res => {
      this.kriteria = res.data
      res.data.map((item, index) => {
        this.k[`k${index + 1}`] = null
        this.tempSubKriteria[index + 1] = {
          'minMax': 'max',
          'tipePreferensi': '5',
          'p': 0,
          'q': 0,
          's': 0
        }
        return this.dataSubmit.kriteria.push({
          [index]: item.name
        })
      })
    })
    .catch(err => {
      throw err
    })

    this.axios.get(PEGAWAI_URL)
    .then(res => {
      res.data.data.map(item => {
        this.pegawai.push({
          'id': item.id,
          'name': item.name
        })
      })

      res.data.data.map((item, index) => {
        this.dataSubmit.pegawai.push({
          id: item.id,
          name: item.name,
          ...this.k
        })
      })
    })
    .catch(err => {
      throw err
    })
  },
  beforeMount () {
    this.$events.listen('add-success', tanggal => { this.eventActions('add-success', tanggal) })
  },
  beforeDestroy () {
    this.showModal = false
    this.$events.remove('edit')
    this.$events.remove('add-success')
    this.$events.remove('modal-show')
  },
  methods: {
    submit () {
      this.dataSubmit.pegawai.map(item => {
        this.kriteria.map((k, i) => {
          this.temp.push({
            'id_pegawai': item.id,
            'id_kriteria': k.id,
            'nilai': item[`k${i + 1}`]
          })
        })
      })

      this.axios.post(HASIL_PENILAIAN_URL,
        {
          'pegawai': this.temp,
          'waktu_penilaian': this.dataSubmit.tanggalPenilaian,
          'sub_kriteria': this.tempSubKriteria
        })
      .then(res => {
        this.$events.fire('add-success', this.dataSubmit.tanggalPenilaian)
      })
      .catch(err => {
        throw err
      })
    },
    eventActions (type, value) {
      switch (type) {
        case 'add-success': {
          this.openNotificationWithType('success', value, 'Success Add Penilaian')
          break
        }
        default:
          break
      }
    },
    openNotificationWithType (type, tanggal, newTitle) {
      openNotification({
        title: newTitle,
        message: 'Tanggal :\n' + tanggal,
        type: type
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
.select.is-danger>select{
  border-color: #ff3860;
}
.select.is-success>select{
  border-color: #23d160;
}
.vertical-text {
	transform: rotate(630deg);
	transform-origin: center;
}
</style>
