<template>
  <div class="tile is-ancestor">

    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="hero is-child box is-primary is-bold">
        </div>

        <form v-on:submit.prevent="submit">
          <div class="container is-fluid is-12 block">

            <p class="field">
              <p class="control label"><span class="icon"><i class="mdi mdi-format-font"></i></span> Nama</p>
              <div class="control has-icon has-icon-right">
                <input class="input" type="text" placeholder="..." v-model.trim="name.input.value" v-bind:class="name.input.className">
                <span class="icon is-small is-right" v-if="name.validate.show">
                  <i class="fa" v-bind:class="name.validate.className"></i>
                </span>
                <span class="help" v-bind:class="name.message.className" v-if="name.message.show">{{ name.message.value }}</span>
              </div>
            </p>

            <p class="field">
              <p class="control label"><span class="icon"><i class="mdi mdi-numeric"></i></span> NIP</p>
              <div class="control has-icon has-icon-right">
                <input class="input" type="text" placeholder="..." v-model.trim="nip.input.value" v-bind:class="nip.input.className">
                <span class="icon is-small is-right" v-if="nip.validate.show">
                  <i class="fa" v-bind:class="nip.validate.className"></i>
                </span>
                <span class="help" v-bind:class="nip.message.className" v-if="nip.message.show">{{ nip.message.value }}</span>
              </div>
            </p>

            <p class="control">
              <p class="control label"><span class="icon"><i class="mdi mdi-account-settings-variant"></i></span> Golongan</p>
              <div class="control">
                <div class="select is-fullwidth" v-bind:class="golongan.input.className">
                  <select v-model="golongan.input.value">
                    <option value="" disabled>Pilih Golongan</option>
                    <option v-for="option in golongan.options" v-bind:value="option.value">
                      {{ option.text }}
                    </option>
                  </select>
                </div>
                <div class="help" v-bind:class="golongan.message.className" v-if="golongan.message.show">{{ golongan.message.value }}</div>
              </div>
            </p>

            <p class="field">
              <p class="control label"><span class="icon"><i class="mdi mdi-comment-account"></i></span> Pangkat</p>
              <div class="control has-icon has-icon-right">
                <input class="input" type="text" placeholder="..." v-model.trim="pangkat.input.value" v-bind:class="pangkat.input.className" disabled>
                <span class="icon is-small is-right" v-if="pangkat.validate.show">
                  <i class="fa" v-bind:class="pangkat.validate.className"></i>
                </span>
                <span class="help" v-bind:class="pangkat.message.className" v-if="pangkat.message.show">{{ pangkat.message.value }}</span>
              </div>
            </p>

            <p class="field">
              <p class="control label"><span class="icon"><i class="mdi mdi-account-key"></i></span> Jabatan</p>
              <div class="control has-icon has-icon-right">
                <input class="input" type="jabatan" placeholder="..." v-model.trim="jabatan.input.value" v-bind:class="jabatan.input.className">
                <span class="icon is-small is-right" v-if="jabatan.validate.show">
                  <i class="fa" v-bind:class="jabatan.validate.className"></i>
                </span>
                <span class="help" v-bind:class="jabatan.message.className" v-if="jabatan.message.show">{{ jabatan.message.value }}</span>
              </div>
            </p>
            
            <div class="control">
              <button class="button is-primary" type="submit" v-bind:class="{'is-loading': submiting}">Update</button>
              <button class="button is-link" type="reset" @click="resetValidation">Reset</button>
            </div>
          </div>
        </form>
      </article>
    </div>
    
  </div>
</template>

<script>

import { PEGAWAI_URL } from 'config/api'

export default {
  props: {userId: { type: Number, required: true }},
  data () {
    return {
      name: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      nip: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      pangkat: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      golongan: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        },
        options: [
          {text: 'I a', value: '0'},
          {text: 'I b', value: '1'},
          {text: 'I c', value: '2'},
          {text: 'I d', value: '3'},
          {text: 'II a', value: '4'},
          {text: 'II b', value: '5'},
          {text: 'II c', value: '6'},
          {text: 'II d', value: '7'},
          {text: 'III a', value: '8'},
          {text: 'III b', value: '9'},
          {text: 'III c', value: '10'},
          {text: 'III d', value: '11'},
          {text: 'IV a', value: '12'},
          {text: 'IV b', value: '13'},
          {text: 'IV c', value: '14'},
          {text: 'IV d', value: '15'},
          {text: 'IV e', value: '16'}
        ]
      },
      jabatan: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      pangkatValue: [
        'Juru Muda',
        'Juru Muda Tingkat I',
        'Juru',
        'Juru Tingkat I',
        'Pengatur Muda',
        'Pengatur Muda Tingkat I',
        'Pengatur',
        'Pengatur Tingkat I',
        'Pengatur Muda',
        'Pengatur Muda Tingkat I',
        'Penata',
        'Penata Tingkat I',
        'Pembina',
        'Pembina Tingkat I',
        'Pembina Utama Muda',
        'Pembina Utama Madya',
        'Pembina Utama'
      ],
      classNameSucces: 'is-success',
      classNameInvalid: 'is-danger',
      classNameIconSuccess: 'fa-check',
      classNameIconInvalid: 'fa-warning',
      classNameRoot: 'has-icons-right',
      submiting: false
    }
  },
  watch: {
    'golongan.input.value' (newValue, oldValue) {
      this.pangkat.input.value = this.pangkatValue[newValue]
    }
  },
  created () {
    if (typeof (this.userId) === 'undefined') this.$router.push({ name: 'Pegawai' })
    this.axios.get(`${PEGAWAI_URL}/${this.userId}`)
    .then(res => {
      this.name.input.value = res.data.name
      this.nip.input.value = res.data.nip
      this.pangkat.input.value = res.data.pangkat
      this.golongan.input.value = this.golongan.options.filter((index) => {
        return res.data.golongan === index.text
      })[0].value
      this.jabatan.input.value = res.data.jabatan
    })
    .catch(() => {
      this.$router.push({ path: '/pegawai' })
    })
  },
  methods: {
    submit () {
      this.submiting = true
      this.resetValidation()
      this.axios.put(`${PEGAWAI_URL}/${this.userId}`,
        {
          name: this.name.input.value,
          nip: this.nip.input.value,
          pangkat: this.pangkat.input.value,
          golongan: this.golongan.options[parseInt(this.golongan.input.value ? this.golongan.input.value : 0)].text,
          jabatan: this.jabatan.input.value
        }
      )
      .then(res => {
        this.submiting = false
        this.$events.fire('edit-success', this.pangkat.input.value)
        this.$router.push({ path: '/pegawai' })
      })
      .catch(err => {
        this.submiting = false
        console.log('err-edit-patch', err)
        const errors = err.response.data

        if (errors.name) {
          this.debug = errors.name
          this.name.input.className = this.classNameInvalid
          this.name.validate.show = true
          this.name.validate.className = this.classNameIconInvalid
          this.name.message.show = true
          this.name.message.className = this.classNameInvalid
          const self = this

          errors.name.map((value, index) => {
            self.name.message.value = value
          })
        } else {
          this.name.input.className = this.classNameSucces
          this.name.validate.show = true
          this.name.validate.className = this.classNameIconSuccess
        }

        if (errors.nip) {
          this.debug = errors.nip
          this.nip.input.className = this.classNameInvalid
          this.nip.validate.show = true
          this.nip.validate.className = this.classNameIconInvalid
          this.nip.message.show = true
          this.nip.message.className = this.classNameInvalid
          const self = this

          errors.nip.map((value, index) => {
            self.nip.message.value = value
          })
        } else {
          this.nip.input.className = this.classNameSucces
          this.nip.validate.show = true
          this.nip.validate.className = this.classNameIconSuccess
        }

        if (errors.pangkat) {
          this.debug = errors.pangkat
          this.pangkat.input.className = this.classNameInvalid
          this.pangkat.validate.show = true
          this.pangkat.validate.className = this.classNameIconInvalid
          this.pangkat.message.show = true
          this.pangkat.message.className = this.classNameInvalid
          const self = this

          errors.pangkat.map((value, index) => {
            self.pangkat.message.value = value
          })
        } else {
          this.pangkat.input.className = this.classNameSucces
          this.pangkat.validate.show = true
          this.pangkat.validate.className = this.classNameIconSuccess
        }

        if (errors.golongan) {
          this.debug = errors.golongan
          this.golongan.input.className = this.classNameInvalid
          this.golongan.validate.show = true
          this.golongan.validate.className = this.classNameIconInvalid
          this.golongan.message.show = true
          this.golongan.message.className = this.classNameInvalid
          const self = this

          errors.golongan.map((value, index) => {
            self.golongan.message.value = value
          })
        } else {
          this.golongan.input.className = this.classNameSucces
          this.golongan.validate.show = true
          this.golongan.validate.className = this.classNameIconSuccess
        }

        if (errors.jabatan) {
          this.debug = errors.jabatan
          this.jabatan.input.className = this.classNameInvalid
          this.jabatan.validate.show = true
          this.jabatan.validate.className = this.classNameIconInvalid
          this.jabatan.message.show = true
          this.jabatan.message.className = this.classNameInvalid
          const self = this

          errors.jabatan.map((value, index) => {
            self.jabatan.message.value = value
          })
        } else {
          this.jabatan.input.className = this.classNameSucces
          this.jabatan.validate.show = true
          this.jabatan.validate.className = this.classNameIconSuccess
        }
      })
    },
    resetValidation () {
      this.name.input.className = ''
      this.name.validate.className = false
      this.name.message.show = false
      this.nip.input.className = ''
      this.nip.validate.className = false
      this.nip.message.show = false
      this.pangkat.input.className = ''
      this.pangkat.validate.show = false
      this.pangkat.message.show = false
      this.golongan.input.className = ''
      this.golongan.validate.show = false
      this.golongan.message.show = false
      this.jabatan.input.className = null
      this.jabatan.validate.show = false
      this.jabatan.message.show = false
    }
  }
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
.select.is-danger>select{
  border-color: #ff3860;
}
.select.is-success>select{
  border-color: #23d160;
}
</style>
