<template>
    <input type="text" style="border:none" v-bind:value="value" @change="updateValue($event)" @input="updateValue($event)" readonly/>
</template>

<script>
import Cleave from 'cleave.js'

export default {
  props: {
    value: {
      type: String,
      default: ''
    },
    options: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      cleave: null
    }
  },
  computed: {
    getRawValue () {
      return this.cleave.getRawValue() || 0
    }
  },
  methods: {
    updateValue (event) {
      const self = this
      setTimeout(function () {
        self.$emit('input', event.target.value)
      }, 10)
    }
  },
  mounted () {
    this.cleave = new Cleave(this.$el, this.options)
  },
  beforeDestroy () {
    this.cleave.destroy()
  }
}
</script>
