<template>
  <div class="custom-actions">
    <a title="Show" class="button is-outlined" @click="itemAction('show-item', rowData, rowIndex)"><i class="fa fa-eye"></i></a>
  </div>
</template>

<script>
export default {
  props: {
    rowData: {
      type: Object,
      required: true
    },
    rowIndex: {
      type: Number
    }
  },
  methods: {
    itemAction (action, data, index) {
      switch (action) {
        case 'show-item':
          this.$events.fire('show', data)
          break
        default:
          break
      }
    }
  }
}
</script>

<style>
  .custom-actions button.ui.button {
    padding: 8px 8px;
  }
  .custom-actions button.ui.button > i.icon {
    margin: auto !important;
  }
</style>
