<template>
  <div class="filter-bar control is-grouped">
    <p class="control is-expanded has-addons">
      <input id="search" type="text" v-model="filterText" class="input" @keyup.enter="doFilter" placeholder="Search username">
      <a @click="doFilter" class="button is-primary">Go</a>
    </p>
    <p class="control">
      <a @click="resetFilter" class="button">Reset</a>
    </p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      filterText: ''
    }
  },
  methods: {
    doFilter () {
      this.$events.fire('filter-set', this.filterText)
    },
    resetFilter () {
      this.filterText = ''  // clear the text in text input
      this.$events.fire('filter-reset')
    }
  }
}
</script>

<style lang='scss' scoped>
#search {
  width: 300px;
}
.filter-bar.control.is-grouped {
  display: inline-block;
  .control{
    margin-top: 2px;
    margin-bottom: 5px;
  }
}
@media (max-width : 375px) {
  #search {
    width: 100%;
  }
}
</style>
