<template>
  <div class="tile is-ancestor">

    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="hero is-child box is-primary is-bold"></div>
        <article class="is-child box">
          <p class="control label"><span class="icon"><i class="mdi mdi-calendar-range"></i></span> Tanggal Penilaian</p>
          <p>{{ tanggal }}</p>
        </article>

        <h4 class="title">Evaluation Matrix (x<sub>ij</sub>)</h4>
        <table class="table">
          <thead>
            <tr>
              <th rowspan="8">Karyawan</th>
              <th :colspan="kriteria.length">Kriteria</th>
            </tr>
            <tr>
              <template v-for="(item, index) in kriteria">
              <th>K<sub>{{ index + 1 }}</sub></th>                
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-for="item in xij">
            <tr>
              <td width="30%">{{ item.name }}</td>
              <template v-for="(kitem, i) in k">
              <td>{{ item[i] }}</td>
              </template>
            </tr>
            </template>
          </tbody>
        </table>
        <p>Keterangan :</p>
        <template v-for="(item, index) in kriteria">
        <p>K<sub>{{ index + 1 }}</sub> : {{ item.name }}</p>                
        </template>
        <br>
        <br>

        <h4 class="title">Rating Kinerja Ternormalisasi (r<sub>ij</sub>)</h4>
        <table class="table">
          <thead>
            <tr>
              <th rowspan="8">Karyawan</th>
              <th :colspan="kriteria.length">Kriteria</th>
            </tr>
            <tr>
              <template v-for="(item, index) in kriteria">
              <th>K<sub>{{ index + 1 }}</sub></th>                
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, name) in rij">
            <tr>
              <td width="30%">{{ name }}</td>
              <template v-for="(row) in kriteria">
              <td>{{ item[String(row.name)] }}</td>
              </template>
            </tr>
            </template>
          </tbody>
        </table>
        <br>
        <br>

        <h4 class="title">Rating Bobot Ternormalisasi(y<sub>ij</sub>)</h4>
        <table class="table">
          <thead>
            <tr>
              <th rowspan="8">Karyawan</th>
              <th :colspan="kriteria.length">Kriteria</th>
            </tr>
            <tr>
              <template v-for="(item, index) in kriteria">
              <th>K<sub>{{ index + 1 }}</sub></th>                
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, name) in yij">
            <tr>
              <td width="30%">{{ name }}</td>
              <template v-for="(row) in kriteria">
              <td>{{ item[String(row.name)] }}</td>
              </template>
            </tr>
            </template>
          </tbody>
        </table>
        <br>
        <br>

        <h4 class="title">Solusi Ideal positif (A<sup>+</sup>)</h4>
        <table class="table">
          <thead>
            <tr>
              <th :colspan="kriteria.length">Kriteria</th>
            </tr>
            <tr>
              <template v-for="(item, index) in kriteria">
              <th>K<sub>{{ index + 1 }}</sub></th>                
              </template>
            </tr>
            <tr>
              <template v-for="(item, index) in kriteria">
                <th>
                  y<sub>{{ index+1 }}</sub><sup>+</sup>
                </th>
              </template>
            </tr>
          </thead>
          <tbody>
            <tr>
            <template v-for="item in kriteria">
              <td>{{ aplus[item.name] }}</td>
            </template>
            </tr>
          </tbody>
        </table>
        <br>
        <br>

        <h4 class="title">Solusi Ideal negatif (A<sup>-</sup>)</h4>
        <table class="table">
          <thead>
            <tr>
              <th :colspan="kriteria.length">Kriteria</th>
            </tr>
            <tr>
              <template v-for="(item, index) in kriteria">
              <th>K<sub>{{ index + 1 }}</sub></th>                
              </template>
            </tr>
            <tr>
              <template v-for="(item, index) in kriteria">
                <th>
                  y<sub>{{ index+1 }}</sub><sup>+</sup>
                </th>
              </template>
            </tr>
          </thead>
          <tbody>
            <tr>
            <template v-for="item in kriteria">
              <td>{{ aminus[item.name] }}</td>
            </template>
            </tr>
          </tbody>
        </table>
        <br>
        <br>

        <h4 class="title">Jarak Positif Ideal Solution (D<sub>i</sub><sup>+</sup>)</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Karyawan</th>
              <th>D<sup>+</sup></th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, index) in diplus">
            <tr>
              <td>{{ xij[index].name }}</td>              
              <td>{{ diplus[index] }}</td>
            </tr>
            </template>
          </tbody>
        </table>
        <br>
        <br>

        <h4 class="title">Jarak Negative Ideal Solution (D<sub>i</sub><sup>-</sup>)</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Karyawan</th>
              <th>D<sup>-</sup></th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, index) in diminus">
            <tr>
              <td>{{ xij[index].name }}</td>              
              <td>{{ diminus[index] }}</td>
            </tr>
            </template>
          </tbody>
        </table>
        <br>
        <br>

        <h4 class="title">Nilai Relative Closeness (RC<sub>i</sub><sub>+</sub>)</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Karyawan</th>
              <th>RC<sub>i</sub><sub>+</sub></th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, index) in rciplus">
            <tr>
              <td>{{ xij[index].name }}</td>
              <td>{{ rciplus[index] }}</td>
            </tr>
            </template>
          </tbody>
        </table>
        <br>
        <br>


      </article>
    </div>
  </div>
</template>

<script>
import { KRITERIA_URL, USER_URL, WAKTU_PENILAIAN_TOPSIS_URL } from 'config-api'

export default {
  props: { waktuPenilaianTopsisId: { type: Number, required: true }},
  data () {
    return {
      kriteria: [],
      karyawan: [],
      dataSubmit: {
        kriteria: [],
        karyawan: [],
        tanggalPenilaian: null
      },
      k: {},
      temp: [],
      tanggal: null,
      kriterias: [],
      xij: [],
      rij: [],
      yij: [],
      aplus: [],
      aminus: [],
      diplus: [],
      diminus: [],
      rciplus: []
    }
  },
  computed: {
    lengthKriteria () {
      return this.kriteria.length
    }
  },
  created () {
    this.axios.get(`${KRITERIA_URL}`)
    .then(res => {
      this.kriteria = res.data
      window.kriteria = this.kriteria
      res.data.map((item,index) => {
        this.k[`k${index+1}`] = null
        return this.dataSubmit.kriteria.push({
          [index]: item.name
        })
      })
    })
    .catch(err => {
      //
    })

    let self = this
    this.axios.get(USER_URL)
    .then(res => {
      res.data.data.map(item => {
        this.karyawan.push({
          'id': item.id,
          'name': item.name
        })
      })
      
      res.data.data.map((item,index) => {
        this.xij.push({
          id: item.id,
          name: item.name,
          ...this.k
        })
      })

      this.axios.get(`${WAKTU_PENILAIAN_TOPSIS_URL}/${this.waktuPenilaianTopsisId}`)
      .then(res2 => {
        const lengthKaryawan = this.karyawan.length
        res2.data.waktu_penilaian_topsis.xij.map(item => {
          this.xij[parseInt(item.id_karyawan-1)][`k${item.id_kriteria}`] = item.nilai
        })
        this.rij = res2.data.waktu_penilaian_topsis.rij
        this.yij = res2.data.waktu_penilaian_topsis.yij
        this.aplus = res2.data.waktu_penilaian_topsis.aplus
        this.aminus = res2.data.waktu_penilaian_topsis.aminus
        this.diplus = res2.data.waktu_penilaian_topsis.diplus
        this.diminus = res2.data.waktu_penilaian_topsis.diminus
        this.rciplus = res2.data.waktu_penilaian_topsis.rciplus

        this.kriterias = res2.data.waktu_penilaian_topsis.kriterias

        this.tanggal = res2.data.tanggal
      })
      .catch(err2 => {
        //
      })
    })
    .catch(err => {
      //
    })

    
    
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
.select.is-danger>select{
  border-color: #ff3860;
}
.select.is-success>select{
  border-color: #23d160;
}
</style>
