<template>
<div class="hero has-text-centered is-fullheight is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="title">
        <h2>Log<strong>in</strong></h2>
      </div>
      <div class="field rounded"><div v-show="error" style="color:black; word-wrap:break-word;" class="container hero is-warning rounded">{{ error }}</div></div>
      <form v-on:submit.prevent="login">
        <div class="field">
          <p class="control has-icon">
            <input v-model="data.body.username" class="input" type="text" placeholder="username">
            <span class="icon is-small">
              <i class="fa fa-user"></i>
            </span>
          </p>
        </div>
        <p class="control has-icon">
          <input v-model="data.body.password" class="input" type="password" placeholder="password">
          <span class="icon is-small">
            <i class="fa fa-lock"></i>
          </span>
        </p>

        <!-- <p class="control">
          <label class="checkbox">
            <input type="checkbox" v-model="data.rememberMe">
            Remember me
          </label>
        </p> -->
        
        <p class="control is-pulled-right">
          <button type="submit" class="button is-success" v-bind:class="{'is-loading': submiting}">Sign In</button>
          <button class="button is-default" type="button" @click="reset">Reset</button>
        </p>
        <div class="is-clearfix"></div>
      </form>

    </div>
  </div>
</div>
</template>

<script>

export default {
  data () {
    return {
      data: {
        body: {
          username: null,
          password: null
        },
        rememberMe: false
      },
      error: null,
      submiting: false
    }
  },
  methods: {
    login () {
      this.submiting = true
      const redirect = this.$auth.redirect()
      this.$auth.login({
        headers: {
          'Content-Type': 'application/json'
        },
        data: this.data.body,
        rememberMe: this.data.rememberMe,
        redirect: { name: redirect ? redirect.from.name : 'Home' },
        success (res) {
          this.submiting = false
          console.log('Login.vue Auth Success')
          console.log(res)
          this.$store.commit('authenticated', res.data)
          console.log('Login.vue Token: ', this.$auth.token())
          console.log(this)
        },
        error (err) {
          this.submiting = false
          if (err.response) {
            // this.error = err.response.data
            this.error = 'Upss!! Something when wrong please check your credential'
          } else {
            console.log('Error', err.message)
          }
          console.log(err.config)
        }
      })
    },
    reset () {
      this.data.body.username = ''
      this.data.body.password = ''
    }
  },
  computed: {
    authenticated () {
      return this.$store.state.authenticated
    }
  }
}
</script>

<style lang="scss" scoped>
.is-title {
    text-transform: capitalize;
}
.rounded {
    border: 1px solid transparent;
    border-radius: 3px;
}
</style>
