<template>
  <div class="tile is-ancestor">

    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="hero is-child box is-primary is-bold">
        </div>

        <form v-on:submit.prevent="submit">
          <div class="container is-fluid is-12 block">

            <p class="field">
              <p class="control label"><span class="icon"><i class="mdi mdi-comment-account"></i></span> Username</p>
              <div class="control has-icon has-icon-right">
                <input class="input" type="text" placeholder="..." v-model.trim="username.input.value" v-bind:class="username.input.className">
                <span class="icon is-small is-right" v-if="username.validate.show">
                  <i class="fa" v-bind:class="username.validate.className"></i>
                </span>
                <span class="help" v-bind:class="username.message.className" v-if="username.message.show">{{ username.message.value }}</span>
              </div>
            </p>

            <p class="field">
              <p class="control label"><span class="icon"><i class="mdi mdi-account-key"></i></span> Password</p>
              <div class="control has-icon has-icon-right">
                <input class="input" type="password" placeholder="..." v-model.trim="password.input.value" v-bind:class="password.input.className">
                <span class="icon is-small is-right" v-if="password.validate.show">
                  <i class="fa" v-bind:class="password.validate.className"></i>
                </span>
                <span class="help" v-bind:class="password.message.className" v-if="password.message.show">{{ password.message.value }}</span>
              </div>
            </p>

            <p class="control">
              <p class="control label"><span class="icon"><i class="mdi mdi-account-settings-variant"></i></span> Role</p>
              <div class="control">
                <div class="select is-fullwidth" v-bind:class="role.input.className">
                  <select v-model="role.input.value">
                    <option value="" disabled>Choose role for this user</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                  </select>
                </div>
                <div class="help" v-bind:class="role.message.className" v-if="role.message.show">{{ role.message.value }}</div>
              </div>
            </p>
            
            <div class="control">
              <button class="button is-primary" type="submit" v-bind:class="{'is-loading': submiting}">Submit</button>
              <button class="button is-link" type="reset" @click="resetValidation">Reset</button>
            </div>
          </div>
        </form>
      </article>
    </div>
    
  </div>
</template>

<script>
import { USER_URL } from 'config/api'

export default {
  data () {
    return {
      username: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      password: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      role: {
        input: {
          value: '',
          className: null
        },
        validate: {
          show: false,
          className: null
        },
        message: {
          show: false,
          className: null,
          value: ''
        }
      },
      classNameSucces: 'is-success',
      classNameInvalid: 'is-danger',
      classNameIconSuccess: 'fa-check',
      classNameIconInvalid: 'fa-warning',
      classNameRoot: 'has-icons-right',
      submiting: false,
      debug: {}
    }
  },
  methods: {
    submit () {
      this.submiting = true
      this.resetValidation()
      this.axios.post(USER_URL,
        {
          username: this.username.input.value,
          password: this.password.input.value,
          role: parseInt(this.role.input.value)
        }
      )
      .then(res => {
        this.$events.fire('add-success', this.username.input.value)
        this.$router.push({ path: '/user' })
        this.submiting = false
      })
      .catch(err => {
        this.submiting = false
        console.log('err-add', JSON.stringify(err.response.data.errors))
        const errors = err.response.data

        if (errors.username) {
          this.debug = errors.username
          this.username.input.className = this.classNameInvalid
          this.username.validate.show = true
          this.username.validate.className = this.classNameIconInvalid
          this.username.message.show = true
          this.username.message.className = this.classNameInvalid
          const self = this

          errors.username.map((value, index) => {
            self.username.message.value = value
          })
        } else {
          this.username.input.className = this.classNameSucces
          this.username.validate.show = true
          this.username.validate.className = this.classNameIconSuccess
        }

        if (errors.password) {
          this.debug = errors.password
          this.password.input.className = this.classNameInvalid
          this.password.validate.show = true
          this.password.validate.className = this.classNameIconInvalid
          this.password.message.show = true
          this.password.message.className = this.classNameInvalid
          const self = this

          errors.password.map((value, index) => {
            self.password.message.value = value
          })
        } else {
          this.password.input.className = this.classNameSucces
          this.password.validate.show = true
          this.password.validate.className = this.classNameIconSuccess
        }

        if (errors.role) {
          this.debug = errors.role
          this.role.input.className = this.classNameInvalid
          this.role.validate.show = true
          this.role.validate.className = this.classNameIconInvalid
          this.role.message.show = true
          this.role.message.className = this.classNameInvalid
          const self = this

          errors.role.map((value, index) => {
            self.role.message.value = value
          })
        } else {
          this.role.input.className = this.classNameSucces
          this.role.validate.show = true
          this.role.validate.className = this.classNameIconSuccess
        }
      })
    },
    resetValidation () {
      this.username.input.className = ''
      this.username.validate.show = false
      this.username.message.show = false
      this.password.input.className = ''
      this.password.validate.show = false
      this.password.message.show = false
      this.role.input.className = ''
      this.role.validate.show = false
      this.role.message.show = false
    }
  }
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
.fa-user-circle::before{
  color: gray
}
.select.is-danger>select{
  border-color: #ff3860;
}
.select.is-success>select{
  border-color: #23d160;
}
</style>
