<template>
  <aside class="menu app-sidebar animated" :class="{ slideInLeft: show, slideOutLeft: !show }">
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li>
        <router-link to="/" exact>
          <span class="icon is-small"><i class="fa fa-home"></i></span> Home
        </router-link>
      </li>
    </ul>

    <p class="menu-label">
      Penilaian
    </p>
    <ul class="menu-list">
      <li>
        <router-link to="/input_penilaian">
          <span class="icon is-small"><i class="fa fa-edit"></i></span>
          Input Penilaian
        </router-link>
        <router-link to="/hasil_penilaian">
          <span class="icon is-small"><i class="mdi mdi-format-list-numbers"></i></span>
          Hasil Penilaian
        </router-link>
      </li>
    </ul>

    <p class="menu-label">
      Admin Area
    </p>
    <ul class="menu-list">
      <li>
        <router-link :to="{ path: '/user' }">
          <span class="icon is-small"><i class="mdi mdi-account-multiple"></i></span>
          <span>User</span>
        </router-link>
      </li>
      <li>
        <router-link :to="{ path: '/pegawai' }">
          <span class="icon is-small"><i class="mdi mdi-account-multiple"></i></span>
          <span>Pegawai</span>
        </router-link>
      </li>
      <li>
        <router-link :to="{ path: '/kriteria' }">
          <span class="icon is-small"><i class="fa fa-clipboard"></i></span>
          <span>Kriteria</span>
        </router-link>
      </li>
    </ul>
  </aside>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  props: {
    show: Boolean
  },

  data () {
    return {
      isReady: false
    }
  },

  mounted () {
    let route = this.$route
    if (route.name) {
      this.isReady = true
    }
  },

  computed: mapGetters({
    menu: 'menuitems'
  }),

  methods: {
    ...mapActions([
      'expandMenu'
    ]),

    isExpanded (item) {
      return item.meta.expanded
    },

    toggle (index, item) {
      this.expandMenu({
        index: index,
        expanded: !item.meta.expanded
      })
    }
  },

  watch: {
    $route (route) {
      this.isReady = true
    }
  }

}
</script>

<style lang="scss">
@import '~bulma/sass/utilities/variables';
@import '~bulma/sass/utilities/mixins';

.app-sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  padding: 20px 0 50px;
  width: 180px;
  min-width: 45px;
  max-height: 100vh;
  height: calc(100% - 50px);
  z-index: 1024 - 1;
  background: #FFF;
  box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
  overflow-y: auto;
  overflow-x: hidden;

  @include mobile() {
    transform: translate3d(-180px, 0, 0);
  }

  .icon {
    vertical-align: baseline;
    &.is-angle {
      position: absolute;
      right: 10px;
      transition: transform .377s ease;
    }
  }

  .menu-label {
    padding-left: 5px;
  }

  .menu-list {
    li a {
      &[aria-expanded="true"] {
        .is-angle {
          transform: rotate(180deg);
        }
      }
    }

    li a + ul {
      margin: 0 10px 0 15px;
    }
  }

}
</style>
