<template>
  <div class="filter-bar control is-grouped">
    <p class="control is-expanded has-addons">
      <!-- <input id="search" type="text" v-model="filterText" class="input" @keyup.enter="doFilter" placeholder="Search username"> -->
    </p>
      <datepicker id="search" :config="{ wrap: true }" v-model="tanggalPenilaian" readonly>
        <a class="button" data-clear><i class="fa fa-close"></i></a>
        <a @click="doFilter" class="button is-primary">Go</a>
      </datepicker>
    <p class="control">
      <a @click="resetFilter" class="button">Reset</a>
    </p>
  </div>
</template>

<script>
import Datepicker from 'vue-bulma-datepicker'

export default {
  components: {
    Datepicker
  },
  data () {
    return {
      filterText: '',
      tanggalPenilaian: null
    }
  },
  methods: {
    doFilter () {
      this.$emit('filter-set', this.tanggalPenilaian)
    },
    resetFilter () {
      this.tanggalPenilaian = ''  // clear the text in text input
      this.$emit('filter-reset')
    }
  }
}
</script>

<style lang='scss' scoped>
#search {
  width: 300px;
}
.filter-bar.control.is-grouped {
  display: inline-block;
  .control{
    margin-top: 2px;
    margin-bottom: 5px;
  }
}
@media (max-width : 375px) {
  #search {
    width: 100%;
  }
}
</style>
