<template>
  <div class="tile is-ancestor">

    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="hero is-child box is-primary is-bold"></div>
        <article class="is-child box">
          <p class="control label"><span class="icon"><i class="mdi mdi-calendar-range"></i></span> Tanggal Penilaian</p>
          <p>{{ tanggal }}</p>
        </article>

        
        <!-- <p>Keterangan :</p>
        <template v-for="(item, index) in kriteria">
        <p>K<sub>{{ index + 1 }}</sub> : {{ item.name }}</p>                
        </template>
        <br>
        <br> -->

        <h4 class="title">Tabel Hasil Metode TOPSIS</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Pegawai</th>
              <th>RC<sub>i</sub><sub>+</sub></th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, index) in rciplusOrdered">
            <tr>
              <td>{{ index+1 }}</td>
              <td>{{ item.nama }}</td>
              <td>{{ item.value }}</td>
            </tr>
            </template>
          </tbody>
        </table>
        <br>
        <br>

        <h4 class="title">Tabel Input Penilaian</h4>
        <table class="table">
          <thead>
            <tr>
              <th rowspan="8">Pegawai</th>
              <th :colspan="kriteria.length">Kriteria</th>
            </tr>
            <tr>
              <template v-for="(item, index) in kriteria">
              <!-- <th>K<sub>{{ index + 1 }}</sub></th> -->
              <th>{{ item.name }}</th>
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-for="item in xij">
            <tr>
              <td width="30%">{{ item.name }}</td>
              <template v-for="(kitem, i) in k">
              <td>{{ item[i] }}</td>
              </template>
            </tr>
            </template>
          </tbody>
        </table>
      </article>
    </div>
  </div>
</template>

<script>
import { KRITERIA_URL, PEGAWAI_URL, WAKTU_PENILAIAN_TOPSIS_URL } from 'config/api'

export default {
  props: {waktuPenilaianId: { type: Number, required: true }},
  data () {
    return {
      kriteria: [],
      karyawan: [],
      dataSubmit: {
        kriteria: [],
        karyawan: [],
        tanggalPenilaian: null
      },
      k: {},
      temp: [],
      tanggal: null,
      kriterias: [],
      xij: [],
      rij: [],
      yij: [],
      aplus: [],
      aminus: [],
      diplus: [],
      diminus: [],
      rciplus: [],
      rciplusOrdered: []
    }
  },
  computed: {
    lengthKriteria () {
      return this.kriteria.length
    }
  },
  created () {
    this.axios.get(`${KRITERIA_URL}`)
    .then(res => {
      this.kriteria = res.data
      window.kriteria = this.kriteria
      res.data.map((item, index) => {
        this.k[`k${index + 1}`] = null
        return this.dataSubmit.kriteria.push({
          [index]: item.name
        })
      })
    })
    .catch(err => {
      throw err
    })

    this.axios.get(PEGAWAI_URL)
    .then(res => {
      res.data.data.map(item => {
        this.karyawan.push({
          'id': item.id,
          'name': item.name
        })
      })

      res.data.data.map((item, index) => {
        this.xij.push({
          id: item.id,
          name: item.name,
          ...this.k
        })
      })

      this.axios.get(`${WAKTU_PENILAIAN_TOPSIS_URL}/${this.waktuPenilaianId}`)
      .then(res2 => {
        res2.data.waktu_penilaian_topsis.xij.map(item => {
          this.xij[parseInt(item.id_karyawan - 1)][`k${item.id_kriteria}`] = item.nilai
        })
        this.rij = res2.data.waktu_penilaian_topsis.rij
        this.yij = res2.data.waktu_penilaian_topsis.yij
        this.aplus = res2.data.waktu_penilaian_topsis.aplus
        this.aminus = res2.data.waktu_penilaian_topsis.aminus
        this.diplus = res2.data.waktu_penilaian_topsis.diplus
        this.diminus = res2.data.waktu_penilaian_topsis.diminus
        this.rciplus = res2.data.waktu_penilaian_topsis.rciplus

        this.kriterias = res2.data.waktu_penilaian_topsis.kriterias

        this.tanggal = res2.data.tanggal

        for (const key in this.rciplus) {
          this.rciplusOrdered.push({
            'nama': this.xij[key].name,
            'value': this.rciplus[key]
          })
        }

        this.rciplusOrdered.sort((a, b) => {
          return b.value - a.value
        })
      }
      )
      .catch(err2 => {
        throw err2
      })
    })
    .catch(err => {
      throw err
    }
    )
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
.select.is-danger>select{
  border-color: #ff3860;
}
.select.is-success>select{
  border-color: #23d160;
}
</style>
