<template>
  <div class="tile is-ancestor">

    <div class="tile is-parent">
      <article class="tile is-child box">
        <div class="hero is-child box is-primary is-bold"></div>
        <article class="is-child box">
          <p class="control label"><span class="icon"><i class="mdi mdi-calendar-range"></i></span> Tanggal Penilaian</p>
          <p>{{ tanggal }}</p>
        </article>

        <!-- <p>Keterangan :</p>
        <template v-for="(item, index) in kriteria">
        <p>K<sub>{{ index + 1 }}</sub> : {{ item.name }}</p>                
        </template>
        <br>
        <br> -->

        <h4 class="title">Tabel Hasil Metode Promethee</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Rank</th>
              <th>Pegawai</th>
              <th>Leaving Flow</th>
              <th>Entering Flow</th>
              <th>Net Flow</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="(item, index) in pOrdered">
            <tr>
              <td>{{ index+1 }}</td>
              <td width="30%">{{ item.nama }}</td>
              <td>{{ item.lf }}</td>
              <td>{{ item.ef }}</td>
              <td>{{ item.nf }}</td>
            </tr>
            </template>
          </tbody>
        </table>

        <!-- <p>)* Alternatif dengan nilai Leaving Flow (LF) paling besar merupakan alternatif terbaik, dan alternatif dengan nilai entering Flow (EF) paling kecil adalah alternatif terbaik berdasarkan nilai EF</p> -->
        <!-- <p>)** Jika ranking antara LF dan EF tidak sama maka dilanjutkan ke tahap perhitungan Net Flow</p> -->

        <h4 class="title">Tabel Input Penilaian</h4>
        <table class="table">
          <thead>
            <tr>
              <th rowspan="8">Pegawai</th>
              <th :colspan="kriteria.length">Kriteria</th>
            </tr>
            <tr>
              <template v-for="(item, index) in kriteria">
              <!-- <th>K<sub>{{ index + 1 }}</sub></th> -->
              <th>{{ item.name }}</th>
              </template>
            </tr>
          </thead>
          <tbody>
            <template v-for="item in xij">
            <tr>
              <td width="30%">{{ item.name }}</td>
              <template v-for="(kitem, i) in k">
              <td>{{ item[i] }}</td>
              </template>
            </tr>
            </template>
          </tbody>
        </table>
      </article>
    </div>
  </div>
</template>

<script>
import { KRITERIA_URL, PEGAWAI_URL, WAKTU_PENILAIAN_PROMETHEE_URL } from 'config/api'

export default {
  props: {waktuPenilaianId: { type: Number, required: true }},
  data () {
    return {
      kriteria: [],
      karyawan: [],
      dataSubmit: {
        kriteria: [],
        karyawan: [],
        tanggalPenilaian: null
      },
      k: {},
      temp: [],
      tanggal: null,
      kriterias: [],
      subKriteria: [],
      xij: [],
      lf: [],
      ef: [],
      nf: [],
      pOrdered: []
    }
  },
  computed: {
    lengthKriteria () {
      return this.kriteria.length
    }
  },
  created () {
    this.axios.get(`${KRITERIA_URL}`)
    .then(res => {
      this.kriteria = res.data
      res.data.map((item, index) => {
        this.k[`k${index + 1}`] = null
        return this.dataSubmit.kriteria.push({
          [index]: item.name
        })
      })
    })
    .catch(err => {
      throw err
    })

    this.axios.get(PEGAWAI_URL)
    .then(res => {
      res.data.data.map(item => {
        this.karyawan.push({
          'id': item.id,
          'name': item.name
        })
      })

      res.data.data.map((item, index) => {
        this.xij.push({
          id: item.id,
          name: item.name,
          ...this.k
        })
      })
    })
    .then(() => {
      this.axios.get(`${WAKTU_PENILAIAN_PROMETHEE_URL}/${this.waktuPenilaianId}`)
      .then(res2 => {
        res2.data.waktu_penilaian_promethee.xij.map(item => {
          this.xij[parseInt(item.id_karyawan - 1)][`k${item.id_kriteria}`] = item.nilai
        })

        this.tanggal = res2.data.tanggal
        this.ef = res2.data.waktu_penilaian_promethee.ef
        this.lf = res2.data.waktu_penilaian_promethee.lf
        this.nf = res2.data.waktu_penilaian_promethee.nf

        for (const key in this.karyawan) {
          this.pOrdered.push({
            'nama': this.karyawan[key].name,
            'lf': this.lf[this.karyawan[key].id],
            'ef': this.ef[this.karyawan[key].id],
            'nf': this.nf[this.karyawan[key].id]
          })
        }

        this.pOrdered.sort((a, b) => {
          return b.nf - a.nf || b.ef - a.ef
        })
      })
      .catch(err2 => {
        this.$router.push({ path: '/hasil_penilaian' })
      })
    })
    .catch(err => {
      throw err
    })
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.is-title {
  text-transform: capitalize;
}
.select.is-danger>select{
  border-color: #ff3860;
}
.select.is-success>select{
  border-color: #23d160;
}
</style>
